:root {
  --main-background-color: white;
  --secondary-background-color: linear-gradient(#73b3f2, #8adaf4);
  --main-text-color: black;
  --main-outline-color: #00000026;
  --dense-outline-color: #00000080;
  --search-info-background-color: #fffd;
}

html.dark {
  --main-background-color: black;
  --secondary-background-color: linear-gradient(#c20a0a, #c2380a);
  --main-text-color: white;
  --main-outline-color: #ffffff80;
  --dense-outline-color: #fffc;
  --search-info-background-color: #000c;
  background: #000;
}

h3, p, li {
  color: var(--main-text-color);
  font-family: GeneralSans-Variable, Comic Sans MS, serif;
  font-weight: 400;
}

.flexrow {
  flex-flow: row;
  display: flex;
}

.flexcenter {
  justify-content: center;
}

.flexend {
  justify-content: flex-end;
}

.round-btn {
  background: var(--main-background-color);
  outline: solid 1px var(--main-outline-color);
  border-radius: 50px;
  padding: 5px;
}

.round-btn:hover {
  outline: solid 1px var(--dense-outline-color);
}

.rounded-btn {
  cursor: pointer;
  background-color: var(--main-background-color);
  border-top: 2px solid #0000;
  border-bottom: 2px solid #0000;
  border: solid 1px var(--main-text-color);
  border-radius: 50px;
  max-width: 100%;
  height: max-content;
  transition: background-color .3s ease-in, border-color .3s ease-in;
  position: relative;
}

.rounded-btn h3 {
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
  width: max-content;
  max-width: 100%;
  padding: .25rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color .3s ease-in;
}

.rounded-btn:hover, .rounded-btn.active {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color) !important;
}

.rounded-btn:hover h3, .rounded-btn.active h3 {
  color: var(--main-background-color);
  border-color: var(--main-text-color);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#board {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

canvas#front-layer, #nodes-container {
  position: absolute;
  top: 0;
  left: 0;
}

#nodes-container p {
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  opacity: .05;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin: 0;
  font-size: 12px;
  font-weight: 375;
  line-height: 13px;
  transition: opacity 1.5s;
  position: absolute;
}

#nodes-container p a {
  cursor: inherit;
}

#nodes-container p.active {
  cursor: pointer;
  opacity: 1;
}

#nodes-container p.active:hover {
  text-shadow: var(--main-text-color) 0 0 1px;
}

#nodes-container p.active a {
  cursor: pointer;
}

#search {
  width: 100%;
  margin: 0 auto;
  padding: 0 .5rem;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}

#search #filters-nav {
  opacity: 1;
  transition: left .5s ease-in-out, opacity .5s ease-in-out;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}

#search #exit-nav {
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  width: 2.1rem;
  margin: .2rem .3rem;
  transition: left .3s ease-in-out, opacity .3s ease-in-out .1s;
  position: absolute;
  bottom: 0;
  left: -12rem;
}

#search #exit-nav svg {
  filter: invert();
  stroke: #fff;
  fill: #000;
  width: 2rem;
  transition: filter .5s ease-in, transform .2s ease-in-out;
  transform: rotate(45deg);
}

#search #exit-nav svg:hover {
  filter: inherit;
  transform: rotate(135deg);
}

#search #filters {
  width: 100vw;
  margin: auto;
  transition: bottom .5s ease-in-out;
  position: absolute;
  bottom: -75vh;
  left: 0;
  right: 0;
}

#search #filters #main-filters {
  flex-flow: row;
  justify-content: flex-start;
  padding: 0 3rem;
  display: flex;
}

#search #filters #main-filters li {
  margin: .2rem .3rem;
}

#search #filters #filter-tags {
  padding: 0 3rem;
}

#search #filters #filter-tags ul {
  opacity: 0;
  flex-flow: wrap;
  justify-content: flex-start;
  height: auto;
  max-height: 0;
  transition: opacity .2s, max-height .25s;
  display: flex;
}

#search #filters #filter-tags ul.active {
  opacity: 1;
  max-height: 11rem;
  transition: opacity .5s .4s, max-height .3s ease-in .25s;
}

#search #filters #filter-tags ul li {
  margin: .2rem .3rem;
}

#search #filters #filter-tags ul li h3 {
  text-align: center;
}

#search #filters .filter.active {
  background: var(--main-text-color);
  border-color: var(--main-background-color);
}

#search #filters .filter.active h3 {
  color: var(--main-background-color);
}

#search-info {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  transition: all .4s;
  position: fixed;
  top: 2rem;
  left: 0;
}

#search-info.filled {
  background: var(--search-info-background-color);
  box-shadow: var(--search-info-background-color) 0 0 15px 15px;
}

#search-info p {
  text-align: center;
  text-transform: uppercase;
  padding: 0 4.5rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1em;
}

#pages {
  opacity: 1;
  flex-flow: row;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  transition: bottom .3s, opacity .5s .15s;
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media (width <= 700px) {
  #pages {
    flex-flow: column;
    align-items: flex-end;
    gap: .5rem;
  }
}

#bottom-items {
  position: relative;
}

#bottom-items.search-toggle-on #search #filters-nav {
  opacity: 0;
  left: -12rem;
}

#bottom-items.search-toggle-on #search #exit-nav {
  opacity: 1;
  left: 0;
}

#bottom-items.search-toggle-on #search #filters {
  bottom: 0;
}

#bottom-items.search-toggle-on #pages {
  opacity: 0;
  bottom: -8rem;
}

#dark-mode-toggle {
  cursor: pointer;
  background: var(--main-text-color);
  z-index: 100;
  border: 1px solid #0003;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#dark-mode-toggle:hover {
  box-shadow: var(--main-text-color) 0 0 6px;
}

html.mobile-plato, html.mobile-plato body {
  overflow-y: inherit;
}

@media (width <= 550px) {
  .rounded-btn h3 {
    font-size: .8rem;
  }

  #dark-mode-toggle {
    top: 10px;
    right: 10px;
  }

  #bottom-items.search-toggle-on #exit-nav {
    left: .5rem;
  }

  #search {
    background: var(--secondary-background-color);
    border-radius: 0;
    outline: none;
    width: 100%;
    height: auto;
    padding: 0;
    box-shadow: 0 0 6px #00000080;
  }

  #search #exit-nav {
    margin: auto;
    bottom: .25rem;
  }

  #search #exit-nav h3 {
    padding: .4rem .75rem;
  }

  #search #filters #main-filters {
    flex-flow: column;
    padding: 0 1rem 0 2.5rem;
  }

  #search #filters #main-filters h3 {
    text-align: center;
    width: 100%;
  }

  #search #filters #filter-tags ul {
    flex-flow: wrap;
    justify-content: center;
    overflow: scroll;
  }

  #search-info p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=plato.css.map */
