/* Global */
:root {
  --main-background-color: white;
  --secondary-background-color: linear-gradient(hsl(210, 83%, 70%), hsl(195, 83%, 75%));
  --main-text-color: black;
  --main-outline-color: rgba(0, 0, 0, .15);
  --dense-outline-color: rgba(0, 0, 0, .5);
}

html.dark-mode {
  --main-background-color: black;
  --secondary-background-color: linear-gradient(hsl(0, 90%, 40%), hsl(15, 90%, 40%));
  --main-text-color: white;
  --main-outline-color: rgba(255, 255, 255, .5);
  --dense-outline-color: rgba(255, 255, 255, .8);
  background: black; /* When resizing */
}

h3, p, li {
  font-family: 'Raleway', 'Comic Sans MS', serif;
  color: var(--main-text-color);
  font-weight: 300;
}

.flexrow {
  display: flex;
  flex-flow: row;
}

.flexcenter {
  justify-content: center;
}

.flexend {
  justify-content: flex-end;
}

.round-btn {
  padding: 5px;
  background: var(--main-background-color);
  border-radius: 50px;
  outline: solid 1px var(--main-outline-color);
}

.round-btn:hover {
  outline: solid 1px var(--dense-outline-color);
}

#board {
  position: relative;
}

canvas#front-layer {
  position: absolute;
  top: 0;
  left: 0;
}

#nodes-container {
  position: absolute;
  top: 0;
  left: 0;
}

#nodes-container p {
  position: absolute;
  text-align: center;
  margin: 0;
  user-select: none;
  word-wrap: auto;
  opacity: .15;
  text-transform: uppercase;
}

#nodes-container p.active {
  cursor: pointer;
  opacity: 1;
}

#nodes-container p.active:hover {
  text-shadow: var(--main-text-color) 0 0 1px;
}

#nodes-container p:not(.active) {
}

#search {
  position: absolute;
  height: 36px;
  bottom: 10px;
  width: 350px;
  padding: 0 5px;
  background: var(--main-background-color);
  border-radius: 50px;
  outline: solid 1px var(--main-outline-color);
  margin: auto;
  left: 0;
  right: 0;
  z-index: 15;
}

#search #filters {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#search .filter {
  position: relative;
  transition: border-color 200ms ease-in;
  border-bottom: solid 2px transparent;
  border-top: solid 2px transparent;
}

#search .filter h3 {
  margin: 2px .3em;
  padding: 0.5em 0.7em;
  font-size: .8em;
  border-radius: 1em;
  user-select: none;
  opacity: .7;
}

#search .filter.active {
  opacity: 1;
  border-color: var(--main-text-color);
}

#search .filter:hover h3,
#search .filter.active h3 {
  opacity: 1;
}

#search .filter ul.filter-tags {
  list-style-type: none;
  position: absolute;
  bottom: 15px;
  width: 165px;
  padding: 0 0 5px 0;
  display: none;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden !important;
}

#search .filter ul.filter-tags li {
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 150px;
  margin: 3px;
  font-size: .85em;
}

#search .filter ul.filter-tags li:hover {
  outline: var(--dense-outline-color) solid 1px;
}

#search .filter ul.filter-tags li.active {
  background: var(--main-text-color);
  color: var(--
